* {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
}

.calculator {
    margin-top: 7%;
}

.btn {
    margin: 5%;
    /* text-align: center; */
}


#display {
    text-align: right;
}