* {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.calculator {
    margin-top: 10%;
}

.btn {
    width: 100%;
    margin-bottom: 5px;
}


#display {
    text-align: right;
}

@media (max-width: 300px){

    .btn {
        pointer-events: none;
        opacity: 0.5;
    }
    
}