* {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.calculator {
    margin-top: 10%;
}

.btn {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold !important;
    font-size: 18px !important;
}


#display {
    text-align: right;
    margin-top: 5%;
    font-size: 18px;
}

@media (max-width: 300px) {

    .btn {
        pointer-events: none;
        opacity: 0.5;
    }

}

button {
    text-align: center;
    font-weight: bold;
}

.calculator-title {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

input {
    font-size: 18px !important;
}